/* #region Base styles */
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
/* #endregion */

/* #region Common styles */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
  background-color: #f4f4fd;
  margin: 0 auto;
}

.section:nth-child(2n) {
  background-color: #fff;
}

.logo {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.title-list-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: inline-block;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region Header */
.header-block {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo {
  color: #2e2f42;
}
.header-block .container {
  display: flex;
}

.navigation-block {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 40px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation .navigation-link:hover,
.navigation .navigation-link:focus {
  color: #404bbf;
}
.studio .navigation-link {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link {
  display: block;
  padding: 24px 0;
  position: relative;
}
.studio > .navigation-link::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  position: absolute;
}

.header-adress {
  font-style: normal;
  margin-left: auto;
}

.contacts {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.contacts-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Hero-section */

.section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 188px 0;
  background-color: #2e2f42;
  gap: 48px;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.main-button {
  align-items: center;
  margin-top: 48px;
  margin-left: 164px;
  padding: 16px 32px;
  min-width: 169px;
  max-height: 56px;
}
.main-button:hover,
.main-button:focus {
  background: #404bbf;
}

/* #endregion */

/* #region Advantages */

.advantages-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.advantages {
  display: flex;
  gap: 24px;
}
.advantages-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/* #endregion */

/* #region Team */
.team-title-list {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team {
  display: flex;
  gap: 24px;
  text-align: center;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}
.team-list-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}
.team-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-item .team-socials-pict {
  fill: #f4f4fd;
}
/* #endregion */

/* #region Portfolio */

.portfolio {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card-title {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-list-box {
  position: relative;
  overflow: hidden;
}
.portfolio-list-box:hover .portfolio-list-description {
  transform: translateY(0);
}
.portfolio-list-img {
}
.portfolio-list-description {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion */

/* #region Footer */

.footer-block {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-web {
  color: #f4f4fd;
}

.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.text {
  margin-right: 120px;
}
.footer-block .container {
  display: flex;
  align-items: baseline;
}
.footer-socials {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-item .footer-socials-pict {
  fill: #f4f4fd;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-form-wrapper {
  margin-left: 80px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-input {
  display: inline-block;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-btn {
  display: flex;
  justify-content: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
}
.footer-btn:hover,
.footer-btn:focus {
  background: #404bbf;
}
.footer-send-pict {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  fill: #fff;
}
/* #endregion */

/* #region Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: #e7e9fc;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-pict {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover > .modal-pict,
.modal-btn:focus > .modal-pict {
  fill: white;
}
.modal-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
/* #endregion */
/* #region Form */
.modal-form {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-field-wrapper {
  position: relative;
}
.modal-input-area {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-area:focus {
  border-color: #4d5ae5;
}
.modal-input-area:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-box {
  height: 138px;
  margin-bottom: 16px;
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.agreement-wrapper {
  margin-bottom: 24px;
}
.agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.agreement-checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox-icon {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type="checkbox"]:checked + .agreement .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.agreement-checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  font-size: 12px;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background: #404bbf;
}
/* #endregion */
